<p id="notice"><%= notice %></p>

<div class="header__bar row">
<p>
  <strong>タイトル</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>時間</strong>
  <%= @blog.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @blog.content %>
</p>

<%= link_to '編集する', edit_blog_path %> | 
<%= link_to '消去する', blog_path,method: :delete %> | 
<%= link_to 'カレンダーに戻る', blogs_path %>
</div>